name: Build Android

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build-apk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          aqtversion: '==3.1.*'
          version: '5.12.12'
          host: 'linux'
          target: 'android'
          arch: 'android_arm64_v8a'

      - name: Install SDK
        run: ${ANDROID_SDK_ROOT}/cmdline-tools/latest/bin/sdkmanager --install 'platforms;android-28' 'build-tools;28.0.3' 'ndk;21.3.6528147'

      - name: Build Android package
        working-directory: Desktop_Interface
        run: |
          export ANDROID_NDK_ROOT="${ANDROID_SDK_ROOT}/ndk/21.3.6528147"
          APK_BASENAME="Labrador-$(git rev-parse --short HEAD)"
          qmake -config release
          make -j$(nproc)
          make INSTALL_ROOT=android-build install
          JAVA_HOME=${JAVA_HOME_8_X64} androiddeployqt --input android-libLabrador.so-deployment-settings.json --output android-build --android-platform android-28 --verbose --gradle --release

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: asset-apk
          path: Desktop_Interface/Labrador*.apk
          compression-level: 0
          if-no-files-found: error
