name: Build Android

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build-apk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          aqtversion: '==3.1.*'
          version: '5.12.12'
          host: 'linux'
          target: 'android'
          arch: 'android_arm64_v8a'

      - name: Install SDK
        run: ${ANDROID_SDK_ROOT}/cmdline-tools/latest/bin/sdkmanager --install 'platforms;android-35' 'build-tools;35.0.1' 'ndk;27.3.13750724'

      # Secrets should be the base64 portion of the PEM format
      # (i.e. the stuff between the BEGIN/END lines):
      #
      # -----BEGIN CERTIFICATE-----
      # ... base64-encoded X.509 certificate ...
      # -----END CERTIFICATE-----
      #
      # -----BEGIN PRIVATE KEY-----
      # ... base64-encoded PKCS#8 private key ...
      # -----END PRIVATE KEY-----
      #
      # These can be extracted from a PKCS#12 .keystore file using:
      # openssl pkcs12 -in path/to/.keystore -info -noenc

      - name: Build Android package
        working-directory: Desktop_Interface
        run: |
          export ANDROID_NDK_ROOT="${ANDROID_SDK_ROOT}/ndk/27.3.13750724"
          APK_BASENAME="Labrador-$(git rev-parse --short HEAD)"
          qmake -config release
          make -j$(nproc)
          make INSTALL_ROOT=android-build install
          JAVA_HOME=${JAVA_HOME_8_X64} androiddeployqt --input android-libLabrador.so-deployment-settings.json --output android-build --android-platform android-35 --verbose --gradle --release
          cp android-build/build/outputs/apk/release/android-build-release-unsigned.apk ${APK_BASENAME}-release-unsigned_arm64_v8a_test_nov17_Android15.apk

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: asset-apk
          path: Desktop_Interface/Labrador*.apk
          compression-level: 0
          if-no-files-found: error
