# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# more detail in https://www.codestudy.net/blog/using-the-latest-version-of-a-github-action/#can-you-use-latest-for-github-actions

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
